/* Agregar clases personalizadas para colores */
.navbar-vue {
  background-color: #40a075; /* Verde de Vue.js */
}

/* Ajuste de fondo para la ventana lateral */
.offcanvas-header {
  background-color: #2f8f64; /* Verde de Vue.js */
}
.offcanvas-body {
  background-color: hsl(0, 0%, 98%); /* Verde de Vue.js */
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header,
footer {
  background-color: #42b983; /* Color verde de Vue.js */
  padding: 10px;
  color: white; /* Texto blanco */
}

.center-content {
  max-width: 600px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar en el medio */
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

